*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --vermelho:#D6000D;
}

body{
    font-family: 'Roboto', sans-serif;

}

.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1{
    color: var(--vermelho);
    font-style: italic;
  
}

span{
    color: black;
}

nav{
    display:flex;
    flex-wrap: wrap;  
    
    font-size: 1.25rem;
}

.navegador{
    list-style-type: none;
    display: flex;
    align-items: center;
}

a, a:visited{
    text-decoration: none;
    justify-content: space-between;
    padding: 20px; 
    color:black;   
}

.login{
    font-size: 1.25rem;
    background-color: var(--vermelho);
    color: white;
    border: none;
    padding: 9px 41px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.apresentacao{  
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;

}

.figura{
    padding-left:100px;
}

.fig{
    width: 22rem;
}

.geral{
    font-weight: bolder;
    line-height: 3rem;
    padding: 40px 0 0 100px;
    font-size: 1.25rem;
}

p span{
    color: var(--vermelho);
    font-size: 3rem;
}

.orcamento{
    font-size: 1.25rem;
    background-color: var(--vermelho);
    color: white;
    border: none;
    padding: 9px 41px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.servicos{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.lista-servicos{

}

.lista-servicos ul{
    list-style-type: none;
}